.fixtureCount {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	>span {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
	}

	>div {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		align-items: start;

		>table {
			flex: 1;
		}
	}
}

.disabled {
	td {
		background-color: var(--warning);
		color: var(--highlight);
	}
}
