.fixtureCount {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	>span {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
	}

	>div {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		align-items: start;

		>table {
			flex: 1;
			font-size: 0.875rem;

			>tbody {
				>tr {
					>td {
						&:nth-child(1) {

							>input {
								width: 50px;
							}

							>button {
								padding: 0.125rem 0.25rem;
							}
						}

						&:nth-child(2) {
							font-weight: bold;
						}
					}
				}
			}
		}
	}
}

.disabled {
	td {
		background-color: var(--warning);
		color: var(--highlight);
	}
}
