@mixin theme-dark {
	--bg-dark: hsl(204 52% 1%);
	--bg: hsl(204, 24%, 7%);
	--bg-light: hsl(204, 22%, 15%);
	--text: hsl(204 92% 95%);
	--text-muted: hsl(204 15% 69%);
	--highlight: hsl(204 10% 39%);
	--border: hsl(204 14% 28%);
	--border-muted: hsl(204 20% 18%);
	--primary: hsl(203 74% 68%);
	--secondary: hsl(26 65% 66%);
	--danger: hsl(9 26% 64%);
	--warning: hsl(52 19% 57%);
	--success: hsl(146 17% 59%);
	--info: hsl(217 28% 65%);
}

@mixin theme-light {
	--bg-dark: hsl(204 22% 90%);
	--bg: hsl(204 45% 95%);
	--bg-light: hsl(204 100% 100%);
	--text: hsl(204 64% 4%);
	--text-muted: hsl(204 14% 28%);
	--highlight: hsl(204 100% 100%);
	--border: hsl(204 8% 50%);
	--border-muted: hsl(204 11% 62%);
	--primary: hsl(198 100% 19%);
	--secondary: hsl(32 100% 20%);
	--danger: hsl(9 21% 41%);
	--warning: hsl(52 23% 34%);
	--success: hsl(147 19% 36%);
	--info: hsl(217 22% 41%);
}

@media (prefers-color-scheme: dark) {
	:root {
		@include theme-dark;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		@include theme-light;
	}
}

@media print {
	* {
		font-size: 9pt;
		overflow-y: visible;
	}
}

:root {
	@include theme-light;

	--table-odd-bg: var(--bg-light);
	--table-odd-hover-bg: var(--bg);
	--table-even-bg: var(--bg-dark);
	--table-even-hover-bg: var(--bg);
}

html.light {
	@include theme-light;
}

html.dark {
	@include theme-dark;
}

body {
	background-color: var(--bg-dark);
	color: var(--text-muted);
}

table {
	thead {
		tr {
			position: sticky;
			top: 0;
			background-color: var(--bg);
		}
	}

	tbody {
		tr {
			&:nth-child(odd) {
				background-color: var(--table-odd-bg);

				&:hover {
					background-color: var(--table-odd-hover-bg);
				}
			}

			&:nth-child(even) {
				background-color: var(--table-even-bg);

				&:hover {
					background-color: var(--table-even-hover-bg);
				}
			}

			td,
			th {
				border: 1px solid var(--table-border-color);
			}
		}
	}

	th,
	td {
		padding-inline: 0.5rem;
	}
}

input,
select {
	background-color: var(--bg-light);
	color: var(--text);
	border: 1px solid var(--border);
	border-radius: 4px;
	padding: 0.25rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
}

button {
	background-color: var(--bg-light);
	color: var(--text);
	border-color: var(--border);
	border-radius: 4px;
	padding: 0.125rem 1rem;
	font-size: 0.875rem;
	line-height: 0.875rem;
	min-height: 2rem;
	cursor: pointer;

	&:disabled {
		background-color: var(--bg) !important;
		color: var(--text-muted) !important;
		cursor: default;
	}
}
