.moduleLayout {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	height: 100%;
	width: 100%;
	overflow-x: hidden;

	>* {
		max-width: calc(100% - 2rem);
		width: calc(100% - 2rem);

		margin-inline: 1rem;
	}

	header {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1rem;
		background-color: var(--bg);
		border-bottom: 1px solid #E2E8F0;

		margin: 0;
		padding: 1rem;
		width: calc(100% - 2rem);

		img {
			height: 45px;
		}

		div {
			h1 {
				color: var(--primary);
				margin: 0;
				font-size: 1.5rem;
			}

			h2 {
				margin: 0;
				font-size: 1.2rem;
			}
		}

	}

	nav {
		a {
			background-color: var(--bg-light);
			border: 1px solid var(--border);
			padding: 6px 12px;
			border-radius: 4px;
			font-size: 0.95rem;
			text-decoration: none;
			color: var(--text);
			display: inline-block;

		}
	}

	main {
		flex: 1;
		overflow-y: auto;

		>h1 {
			margin-block: 0.5rem;
			color: var(--text);
		}
	}

	footer {
		p {
			font-size: 0.875rem;
			color: var(--text-muted);
			margin: 0;
			margin-bottom: 1rem;
		}
	}

	@media print {

		header {
			padding: 0;

			img {
				height: 12pt;
			}

			h1 {
				font-size: 12pt;
			}

			h2 {
				font-size: 10pt;
			}

			button {
				display: none;
			}
		}

		nav {
			display: none;
		}

		footer {
			display: none;
		}
	}
}

.spacer {
	flex: 1;
}

.wip {
	width: fit-content;
	margin: 0 auto;
	font-size: 2rem;

	text-align: center;

	>svg {
		height: 200px;
		width: auto;
	}
}
